html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  
}

td, th{
  border: 2px solid #fff; 
  padding: 0.5rem;
  text-align: center;
}
th{
  background-color: grey;
}
td{
  background-color: grey;
}
table{
  border: 2px solid #fff;
}
body {
  background-color: #030303;
  font-family: 'Lato',sans-serif;
  margin: 0;
  color: black;
}
nav{
  margin-top: 0px;
}
.jumbotron{
  display: block;
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(https://i.imgur.com/bPwgvdC.png?1);
   height: 100%;
   font-weight: 400;

   color: white;
}

.display-4{
  font-weight: 400;
}
.item1 {
  align-self: center;
  justify-self: center;
}
.navbar{
  margin-top: -40px;
}
#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 30px;
  width: 100%;
}

#items-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 30px;
  width: 100%;
}
.card{
  margin: 0px 5px 0px 5px;
}

img{
  height: 200px;
}
.card-container{
  justify-items: center;
}

.form-container{
  width: 500px;
  margin: 0 auto;
}

.hide{
  display: none;
}


.container{
  width: 100%;
}

#button-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 50%;
}

.parentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}