<%- include('../partials/header') %>
    <h2>Welcome to Not Game Stop</h2>
    <h3>Sell the games at the price you want, and keep the money that you make, dont let Game Stop rip you off</h3>
    
<%- include('../partials/footer') %>