<%- include('../partials/header') %> 

<h3>
  Name: <%= user.name %> 
</h3>
<h4>Items for Sale:</h4>
<% if(user.isSeller) {%>
  <% items.forEach(i =>{ %>
    <% if(i.seller._id.equals(user._id)) {%>
      <h1><%= i.itemName %></h1> 
    <% } %>  
  <% }) %>  
<% } %>  

<%- include('../partials/footer') %> 