<%- include('../partials/header') %>
    <h1><%= seller.name %>'s Profile </h1>
    <% items.forEach(i =>{ %>
        <% if(i.seller._id.equals(seller._id)) {%>
          <h1><%= i.itemName %></h1> 
        <% } %>  
      <% }) %>  
<%- include('../partials/footer') %>  